<div class="col">
    <div class="card h-100">
        <img src="../../assets/img/400f1f17c300b36c156ab830001964d644661d0e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mar del Plata</h5>
            <p class="card-text">Mar del Plata es una ciudad balnearia argentina en la costa del Atlántico. Su larga franja de playas incluye la amplia Punta Mogotes y Playa Grande, con sus rompientes para el surf.</p>
            <a href="https://www.turismomardelplata.gob.ar/" class="btn btn-primary">Ver sitio</a>
        </div>
    </div>
</div>