<div class="col">
    <div class="card h-100">
        <img src="../../assets/img/800px_iguacu-002.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cataratas del Iguazú</h5>
            <p class="card-text">«Cataratas» o «Iguazú», son un conjunto de cataratas que se localizan en el río Iguazú, en el límite entre la provincia argentina de Misiones, el estado brasileño de Paraná. Están totalmente insertadas en áreas protegidas.</p>
            <a href="https://iguazuargentina.com/es/" class="btn btn-primary">Ver sitio</a>
        </div>
    </div>
</div>